#playground {
    margin: 0;
    background: linear-gradient(-45deg, #f5ebdf, #ede3d7, #f5e8f1, #f2f5e9);
    border: thin grey solid;
}
body,html{
    margin:0;
    padding:0;
    background: #f5f4ef;
    color: #14517a;

}


h1{
    font-size: medium;
}

#thesis_function{
    font-size: 75%;
}
.space{
    margin: 0.2em;
}
